<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://i.ytimg.com/vi/zxhEpH-YDys/maxresdefault.jpg"
        height="200px" alt="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Salió la nueva versión de Angular.</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat augue sed velit luctus, sit amet porttitor tortor malesuada. Sed et libero neque. Sed tincidunt elit eu urna feugiat, vel porttitor odio finibus. Fusce nisi lacus, tincidunt ut sem in, euismod iaculis neque. Vivamus in ligula bibendum, congue neque vulputate, condimentum nibh. Sed luctus magna vel commodo tincidunt. Quisque commodo nunc tempus, fringilla elit vel, iaculis leo. Morbi facilisis elit id posuere hendrerit. In ac volutpat mauris.</a></p>
    </div>
</div>

