
<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="https://peru21.pe/resizer/YVJaWDuJDVUzrx_ieYyULKpFD2M=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/XPWKFR7NS5COPLUYZNHHSBLGDM.jpg" alt="">
        </div>
        <div class="small-card__title">
            <h1><a href="#">Salió la nueva versión de Angular.</a></h1>
        </div>
    </div>
    
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>


